# CityBikes

Send a request to CityBikes for the city of your choice.

In [1]:
import requests
import json
import pandas as pd

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [2]:
url = 'https://api.citybik.es/v2/networks'

In [3]:
params = {'fields': 'id,name,href'}

In [4]:
response  = requests.get(url=url, params=params)

In [5]:
glasgow = '/nextbike-glasgow'
response = requests.get(url=url + glasgow).json()

In [7]:
allData = response 
#allData

Put your parsed results into a DataFrame.

In [85]:
#lat = allData['network']['stations'][0]['latitude']
#lat

In [56]:
#long = allData['network']['stations'][0]['longitude']
#long

In [60]:
#numBikes = allData['network']['stations'][0]['free_bikes']
#numBikes

In [12]:
#details = {'stationName' : allData['network']['stations'][0]['name'],
#           'latitude' : allData['network']['stations'][0]['latitude'],
#           'longitude' : allData['network']['stations'][0]['longitude'],
#            'numberOfBikes' : allData['network']['stations'][0]['free_bikes']}
#details

{'stationName': 'TRG OF-KOLODVORSKA UL.',
 'latitude': 46.057421,
 'longitude': 14.510265,
 'numberOfBikes': 12}

In [20]:
#create empty lists to add data to 
name = [] #to identify the station easily 
latitude = []
longitude = []
numberOfBikes = []

In [21]:
#pull data from allData into separate lists for each variable -
for stations in allData['network']['stations']:
    name.append(stations['name'])
    latitude.append(stations['latitude'])
    longitude.append(stations['longitude'])
    numberOfBikes.append(stations['free_bikes'])

In [22]:
#create a dataframe 
bikeData = pd.DataFrame(list(zip(name, latitude, longitude, numberOfBikes)), columns=['Name', 'Latitude', 'Longitude', 'numberOfBikes'])

In [23]:
#testing everything worked 
bikeData

                                  Name   Latitude  Longitude  numberOfBikes
0           Merchant Square - ELECTRIC  55.858167  -4.245483              2
1           Botanic Gardens - ELECTRIC  55.878278  -4.288487              2
2                     Mitchell Library  55.864788  -4.271852              0
3    University of Strathclyde (North)  55.862983  -4.241000              0
4      Bridge Street Subway - ELECTRIC  55.852500  -4.258850              9
..                                 ...        ...        ...            ...
97           Anderston Railway Station  55.859996  -4.270163              0
98                      Maryland Drive  55.846552  -4.332797              2
99                            Trongate  55.855961  -4.244671              5
100       Glasgow Cathedral - ELECTRIC  55.862973  -4.237745              1
101                          St Rollox  55.878152  -4.242439              0

[102 rows x 4 columns]

In [12]:
#saving dataframe 
bikeData.to_csv('nextBikeGlas.csv')

In [33]:
testing = bikeData

In [35]:
testing['latlon'] = testing['Latitude'].astype(str) + ',' + testing['Longitude'].astype(str)
testing
testing.to_csv('testing.csv')